<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/sweetalert.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/sweetalert.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<link rel="shortcut icon" href="/Oteemo-X/resources/images/favicon.ico"
	type="image/x-icon" />
<link href="../../../resources/css/bubble.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bubble.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/d3.min.js"
	th:src="@{/resources/js/d3.min.js}"></script>
<script src="../../../resources/js/d3-transform.js"
	th:src="@{/resources/js/d3-transform.js}"></script>
<script src="../../../resources/js/extarray.js"
	th:src="@{/resources/js/extarray.js}"></script>
<script src="../../../resources/js/misc.js"
	th:src="@{/resources/js/misc.js}"></script>
<script src="../../../resources/js/micro-observer.js"
	th:src="@{/resources/js/micro-observer.js}"></script>
<script src="../../../resources/js/microplugin.js"
	th:src="@{/resources/js/microplugin.js}"></script>
<script src="../../../resources/js/bubble-chart.js"
	th:src="@{/resources/js/bubble-chart.js}"></script>
<script src="../../../resources/js/central-click.js"
	th:src="@{/resources/js/central-click.js}"></script>
<script src="../../../resources/js/lines.js"
	th:src="@{/resources/js/lines.js}"></script>
<script src="../../../resources/js/bubbleChart.js"
	th:src="@{/resources/js/bubbleChart.js}"></script>
<script src="../../../resources/js/sweetalert.min.js"
	th:src="@{/resources/js/sweetalert.min.js}"></script>
<style>
.twitterFeed {
	float: right;
	min-width: 200px;
	max-width: 200px;
	height: 10px;
	margin: 0 auto;
	width: 200px;
}

.bubbleChart {
	min-width: 1000px;
	max-width: 1200px;
	height: 700px;
	margin: 0 auto;
	width: 1000px;
}

.bubbleChart svg {
	/* background: #f5f5f5; */
	/* background: transparent
		url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXYjGFjkrk4fewaT5eZ6ARyPmLiN9YDUEzAFv0z5X26Vuxnm7R)
		no-repeat; */
	background: transparent url(http://fedscoop.com/securityinnovationsummit/2015/images/speakers/stanley_martin.jpg) no-repeat;
}
</style>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		</th:block>
		<div class="container-fluid">
<!-- 			<div id="twitterFeed" class="twitterFeed">
				<a class="twitter-timeline" data-width="70" data-height="700"
					data-theme="dark" href="https://twitter.com/oteemox/lists/oteemo-x"></a>
				<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div> -->
			<div id="bubbleChart" class="bubbleChart"></div>
		</div>
<!-- 		<div class="container-fluid">
		<iframe width="500" height="280" allowfullscreen="true"
				src="https://www.youtube.com/embed/PEGlpri6kvIs"></iframe>
		</div> -->
	</div>
</body>
</html>