<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Oteemo-X</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
 <link rel="shortcut icon" href="/Oteemo-X/resources/images/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="container">
		<div class="container-fluid">
			<div class="text-center">
				<div class="oteemo-header">
					<img th:src="@{/resources/images/oteemo-banner.png}" src="../../../resources/images/oteemo-banner.png"/>
				</div>
			</div>
			<div class="text-center">
				<p>
					<a href="/signup" th:href="@{/signup}"
						class="btn btn-success btn-lg">Sign up</a>
				</p>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2013 The
			Static Templates</div>
	</div>
</body>
</html>